
:root{
    --bg : #0F8F8F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

body{
    height: 100vh;
    width: 100vw;
    color: var(--bg);
    overflow-x: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center ;
    position: absolute;
    z-index: 1;
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
}

form{
    margin-top: 2vw;
    color: var(--bg);
    padding: 1vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4vw;
    border-radius: 4px;
    width: 25vw;
    height: 50vh;
}

input{
    outline: none;
    height: 1.5vw;
    width: 100%;
    color: var(--bg);
}

label{
    font-weight: bold;
}

button{
    margin-top: 2vw;
    color: white;
    border: none;
    background-color: var(--bg);
    height: 1.5vw;
    width: 40%;
    border-radius: 3px;
    margin-bottom: 1vw;
}

.message{
    color: var(--bg);
    font-weight: bold;

}

.screen-logged{
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}


iframe{
    height: 100vh;
    width: 100vw;
    border: none;
    
}


.desapear{
    display: none;
}

#logged-message{
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5vw;
}

