:root{
    --color-h2: #ffffff;
    --color-btn: #0690a8;
    --color-text: #ffffff;
    --bg:  #0d111d;
    --font-size: 0.8vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--bg);
}

header {
    background-color: var(--bg);
    padding: 0.3vw 3vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100vw;
    z-index: 1000;
}

.logo{
    margin: 0;
}

.logo img{
    width: 10vw;
}

.navbar{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100vw;
    gap: 4vw;
    left: 0;
}

.navbar a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
}

.btn{
    background-color: var(--color-btn);
    color: var(--color-text);
    padding: 0.2vw;
    width: 5vw;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: var(--font-size);
    z-index: 999999;
}


.container {
    display: flex;
    width: 90%;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

.container2 {
    display: flex;
    width: 90%;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    background: linear-gradient(135deg, #0a0f1d, #0d1529);
}

.hero-content {
    max-width: 50%;
}

.hero-image img{
    width: 30vw;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    color: var(--color-btn);
    font-size: 1.2rem;
    margin-bottom: 4vw;
}

.btn-primary {
    background-color: var(--color-btn);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.container2 h2 {
    color: var(--color-h2);
    font-size: 1.5vw;
    margin-top: 10vw;
    margin-bottom: 2vw;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: calc(3 * 250px + 2 * 2rem);
    margin: 0 auto;
}

.card {
    background-color: #1a1f2e;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color: var(--color-btn);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.card p {
    font-size: 1rem;
    color: #cfcfcf;
}

.features {
    padding: 4rem 0;
}


.footer {
    background-color: #0d111d;
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid #1a1f2e;
}

.footer p {
    color: #cfcfcf;
    font-size: 0.9rem;
}
